.container {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Alinea los elementos en la parte superior derecha */
    padding: 20px; /* Agrega espacio de relleno para separar el contenido del borde */
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}

.cardContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: rgb(15, 15, 15);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.13);
    border-radius: 10px;
    margin: 20px auto;
    width: 100%;
}

.sidebar {
    margin-right: 30px;
}

@media (max-width: 768px) {
    .container {
        justify-content: center;
    }

    .sidebar {
        margin-right: 0;
    }
}
