.container{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(15, 15, 15);
    box-shadow:0 0 10px rgba(0, 0, 0, 0.13);
    border-radius: 10px;
}