
.container h1{
    display: flex;
    position: fixed;
    text-align: left;
    font-size: xx-large;
    width: 400px;
    margin: 30px;
    margin-left: 80px;
    color: white;
}

.container h2{
    position: fixed;
    top: 260px;
    margin: 30px;
    margin-left: 80px;
    width: 500px;
    font-size: x-large;
    text-align: left;
    font-weight: bold;
    color: white;
}

.container p{
    position: fixed;
    top: 370px;
    margin: 30px;
    margin-left: 80px;
    width: 500px;
    text-align: left;
    font-size: x-large;
    font-weight:lighter;
    color: white;
}

.container img{
    display: flex;
    margin-left: 965px;
    bottom: 185px;
    width: 400px;
    height: 650px;
}

.container a{
    position: fixed;
    left: 0;
    margin: 30px;
    margin-left: 80px;
    top: 420px;
    background-color: rgb(240, 169, 17);
    color: whitesmoke;
    font-size: large;
    border: 0;
    border-radius: 10px;
    text-decoration: none;
    padding: 10px 0 0;
    width: 450px;
    height: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-size: x-large;
    font-weight: bold;
}

.container a:hover{
    background-color: rgb(236, 202, 7);
    border: 1px solid whitesmoke;
}