.conte{
    color: aliceblue;
    display: flex;
    max-width: 1200px;
    margin-top: 200px;
}

.imag img{
    display: flex;
    width: 1200px;
    max-height:700px;
    margin-left: 70px;
}

.title{
    position: absolute;
    display: flex;
    left: 70px;
    font-size: xx-large;
    color: white;
    top: 40px;
}

.desc{
    position: absolute;
    font-size: small;
    display: flex;
    width: 1100px;
    color: white;
    margin-top: 700px;
    margin-left: 120px;
}

.gpr{
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 1100px;
    color: white;
    top:1200px;
    margin-left: 120px;
}

.gen ul{
    position: relative;
    
    width: 90px;
    padding:  0px;
    color: whitesmoke;
    list-style: none;
}

.plat ul{
    position: relative;
    max-width: 250px;
    height: 20px;
    margin: 0 0 20px 0;
    padding:  0px;
    color: whitesmoke;
    list-style: none;
}