.title{
    position: absolute;
    display: flex;
    left: 70px;
    font-size: xx-large;
    color: white;
    top: 40px;
}
.p{
    position: absolute;
    display: flex;
    left: 75px;
    font-size: x-large;
    color: white;
    top: 140px;
}

.container{
    display: flex;
    justify-content: space-around;
    max-width: 1500px;
    align-items: center;
    margin-top: 140px;
}

.cards{
    display: flex;
    margin: 50px;
    margin-top: 90px;
}
