.title{
    position: absolute;
    display: flex;
    left: 70px;
    font-size: xx-large;
    color: white;
    top: 90px;
}
.p{
    position: absolute;
    display: flex;
    left: 75px;
    font-size: x-large;
    color: white;
    top: 190px;
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.cards{
    display: flex;
    margin: 50px;
    margin-top: 90px;
}

@media (max-width: 900px){
    .title{
        position: absolute;
        display: flex;
        text-align: center;
        font-size: large;
        color: white;
        top: 80px;
    }

    .p{
        display: none;
    }
}

