.conte {
    display: flex;
    justify-content: space-between;
    width: 300px;
} 

.nogr {
    display: flex;
    background-color: rgb(240, 218, 17);
    width: 80px;
    height: 35px;
    border: 1px solid rgba(255, 255, 255, 0.103);
    border-radius: 5px;
    color: rgb(24, 24, 24);
    font-weight: 800;
}
  
.nogr:hover {
    background-color: rgb(194, 176, 17);
}
  
.hideOnDesktop {
    display: none;
}
  
@media (max-width: 768px) {
    .conte {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
    
    .hideOnDesktop {
      display: flex;
    }
}
  