.conte{
    display: flex;
    justify-content: space-between;
    max-width: 1500px;
    align-items: center;
    margin-top: 140px;
    position: absolute;
    display: flex;
    right: 70px;
    top: 40px;
    width: 400px;
}

.nogr{
    display: flex;
    background-color: rgb(240, 218, 17);
    width: 80px;
    height: 35px;
    border: 1px solid rgba(255, 255, 255, 0.103);
    border-radius: 5px;
    color: rgb(24, 24, 24);
    font-weight: 800;
}
