.container{
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    flex-direction: column;
    margin: 70px;
    color: white;
}

.form{
    margin-top: 80px;
    background-color: rgb(26, 25, 25);
    width: 600px;
    height: 1200px;
}

.lab{
    font-size: large;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-top: 30px;
    margin-left: 100px;
}

.lab input{
    color: white;
    font-size: medium;
    font-weight:600;
    border: 1px solid rgba(245, 245, 245, 0.034);
    height: 30px;
    border-radius: 10px;
    background-color: rgb(34, 32, 32);
}

.lab input:hover{
    background-color: rgb(68, 65, 65);
}

.button{
    color: white;
    font-size: medium;
    font-weight: bold;
    background-color: rgb(15, 15, 15);
    border: 1px solid rgba(245, 245, 245, 0.123);
    border-radius: 10px;
    margin-top: 300px;
    width: 400px;
    height: 35px;
}

.button:hover{
    background-color: rgb(34, 34, 34);
    
}

.title{
    font-size: large;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-top: 20px;
    margin-left: 100px;

}

.plat{
    text-align: left;
    margin-left: 250px;
    font-weight: 500;
}

.gen{
    color: white;
    font-size: medium;
    font-weight:600;
    border: 1px solid rgba(245, 245, 245, 0.034);
    width: 400px;
    height: 35px;
    border-radius: 10px;
    background-color: rgb(34, 32, 32);
}

.gen:hover{
    background-color: rgb(68, 65, 65);
}

.ul{
    font-weight: 600;
    list-style: none;
    display: flex;
    justify-content: space-around;
}