.card{
    background-color: rgb(37, 35, 35);
    border-radius: 15px;
    box-shadow: 5px 0 10px 0 rgba(54, 53, 53, 0.342);
    width: 250px;
    height: 300px;
    margin: 40px;
    transition: all 300ms;
}

.card:hover {
    height: 300px;
    transform: scale(1.1);
}

.imag img {
    width: 250px;
    height: 200px;
    border-radius: 15px 15px 0 0;
    transition: all 400ms;
    object-fit: cover;
}

.text{
    width: 250px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: whitesmoke;
}
 
.text a {
    padding: 5px;
    text-decoration: none;
    color: whitesmoke;
    font-size: x-large;
    font-weight: bold;
    margin-top: 20px;
}

.text p {
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: whitesmoke;
    width: 200px;
    font-size: small;
    font-weight: bolder;
    margin-left: 20px;
}
  