.card{
    border-radius: 15px;
    box-shadow: 5px 0 10px 0 rgba(54, 53, 53, 0.342);
    width: 330px;
    height: 350px;
    margin: 40px;
    background-color: rgb(37, 35, 35);
}

.imag img{
    width: 330px;
    height: 200px; 
    border-radius: 15px 15px 0 0;
    margin: 0 20px 0 0;
}

.text a{
    text-decoration: none;
    line-height: 28px;
    color: whitesmoke;
    font-size: x-large;
    font-weight: bold;
    width: 200px;
}

.text ul{
    position: relative;
    padding:  0px;
    color: whitesmoke;
    font-size: small;
    font-weight: bolder;
    list-style: none;
}